.homeBkg{
background: url("https://64.media.tumblr.com/58003419fc0f2605f7997dfc6e8bd309/tumblr_mg1wjtP0y01rob43oo1_1280.jpg")  no-repeat center center fixed;
background-size: cover;
}
.menuSqu{
    text-align: center;
    background: darkolivegreen;
    height: 300px;
    width: 450px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
